/****************************************
*	This is the style sheet of PPLOG	*
*	Edit this as you wish.				*
*	Designed by Federico Ramírez		*
*	A.K.A fedekun						*
****************************************/

#menubar {
 position:absolute;
 left:0px;
 top:2px;
}

body {
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	/*font-size: 12px;*/
	color: #222222;
	background-color: white;
	/*background-image:url(bg.gif);*/
	background-repeat: repeat-x;
}

table {
	font-size: 12px;
}

input, button, textarea, select, radio {
	padding: 2px;
	border: 1px solid #8FB236;
	color: #008000;
	background-color: white;
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	/*font-size: 12px;*/
}

div#all {
	width: 770px;
	margin: auto;
	min-height: 600px;
	background-image:url(header.png);
	/*BK background-position: center top; */
	background-repeat: no-repeat;
	padding-top: 106px;
	background-color: white;
	/* border-top: 1px dashed silver;
	border-left: 1px dashed silver;
	border-right: 1px dashed silver; */
}

*::-moz-selection {
	background-color:#8FB236;
	color: white;
}

div#menu {
	float: left;
	padding-left: 10px;
	width: 200px;
	letter-spacing: -1px;
}

#menu h1 {
	color: #008000;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 16px;
}

#menu a {
	display: block;
	color: #008000;
	text-transform: capitalize;
	padding-left: 5px;
	text-decoration: none;
}

#menu a:hover {
	padding-left: 7px;
}

div#content {
	float: right;
	padding-right: 15px;
	width: 520px;
	/* border-left: 1px dashed silver; */
	padding-left: 10px;
	min-height: 600px;
}

#content h1 {
	font-size: 16px;
	border-bottom: 1px solid silver;
	margin-bottom: 5px;
	padding: 0px;
	letter-spacing: 2px;
}

#content a {
	color: blue;
	text-decoration: none;
	font-weight: bold;
}

div#footer {
	clear: both;
	text-align: center;
	font-size: 11px;
	color: #666666;
	padding-top: 15px;
	letter-spacing: 2px;
}

#footer a {
	color: black;
	text-decoration: none;
	letter-spacing: -1px;
}

.code {
	border: 1px solid silver;
	background-color: #F1F1F1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #111111;
	font-size: 12px;
	padding: 2px;
	margin: 2px;
	line-height: 5px;
	height: 200px;
	overflow: scroll;
}

.quote {
	border: 1px solid silver;
	padding: 2px;
	margin: 2px;
}